body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #6F9283;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

#divSearch {
  display: flex;
  align-self: auto;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

#divResult {
  padding-top:30px;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

#divStatistics {
  width: 30%;
  text-align: start;
  
}

#divFilteredUsers {
  width: 30%;
  overflow: auto;
  max-height: 500px;
}

#btnSearch {
  background-color: #8d9f87;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#txtSearch {
  width: 85%;
  border-radius: 10px; 
  border: none;
  outline:0; 
  height:25px;
  text-indent: 2%;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
 }

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #8d9f87;
}
